h1{
  color: #ffffff;
  text-align: center;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 3em;
  margin-bottom: 0;
}

ul {
  text-align: center;
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: $fontColor;
}

li {
  display: inline;
  color: $fontColor;
  text-decoration: none;
  padding-right: 25px;
  font-family: $themeFont;
}
