.create-a-candidate {
  padding-left: 20px;
  float: left;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  margin: 0px 30px 0 70px;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-family: $themeFont;
}

aside {
  padding: 20px 0 20px 0;
  font-family: $themeFont;
}

label {
  color: #ffffff;
  font-weight: bold;
}

input {
  border-radius: 5px;
}

.candidates {
  margin: 0;
  padding: 0;
  display: none;
}

.candidates.visible{
  display: block;
}

.url-avatar {
  width: 200px;
  height: 200px;
  float: left;
}

.candidate-list {
  display: block;
  float: left;
  padding: 0;

}
.candidate-attributes{
  display: inline;
  text-align: left;
}

.create-a-campaign {
  display: none;
}

.create-a-campaign.visible {
  display: block;
  margin: 200px 0 0 400px;
}

.candidate-battle {
  display: inline;
  padding-right: 20px;
}
