section{
  padding-left: 20px;
  float: left;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  margin: 0px 30px 0 70px;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-family: $themeFont;
}

aside {
  padding: 20px 0 20px 0;
  font-family: $themeFont;
}

label {
  color: #ffffff;
}

input {
  border-radius: 5px;
}
